<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fm</title>



    <script type="text/javascript">
        var song_list_obj;
        var user_info_obj;
        var init_info;
        var user_name = "";
        var user;
        var current_song;
        var rq = {};
        var recom_song_list = {}
        var recom_song_arr = []

        function init() {
            cookie_str = document.cookie;
            cookie_list = cookie_str.split("; ");

            for (var i = 0; i < cookie_list.length; i++) {
                if (cookie_list[i].substr(0, 4) === "name") {
                    user_name = cookie_list[i].substr(5)
                }
            }

            console.log(user_name)
            user = {
                "name": user_name
            };

        }
        window.onload = init();
        //console.log(user_info_obj.userinfo.profile)
        //console.log("modified picurl")
    </script>
</head>

<body>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/x-template" id="songlist_template">
        <div>
            <el-submenu :index = "itemData.index">
                <template slot="title">
                        <i class="el-icon-star-on"></i><span>{{itemData.name}}</span>
                </template>
                <el-menu-item v-for="song in itemData.songs" :index = "song.index">
                        <template slot="title">
                                <i class="el-icon-star-on"></i><span>{{song.name}}</span>
                        </template>
                </el-menu-item>
            </el-submenu>
        </div>
    </script>

    <div id="app" v-cloak style="position:absolute; left:0; top:0; width:100%;height:100%;">
        <el-container style="height:100%">

            <el-header>
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleNavMenu">
                    <el-menu-item index="1"><a href="focus.html">模式切换</a></el-menu-item>
                    <el-menu-item index="2">生成报表</el-menu-item>
                    <el-menu-item index="3">
                        <!-- <button type="button" id="userinfo_bn"></button> -->
                        <div id="dialog">

                            <el-popover placement="right" width="200" trigger="hover">
                                <div>
                                    <el-card :body-style="{ padding: '0px' }" class="card">
                                        <div class="imgContainer">
                                            <img :src="current_user.profile" id="detailPic" class="image">
                                        </div>
                                        <div>
                                            <el-form class="form">
                                                <el-form-item label="姓名">
                                                    {{current_user.name}}
                                                </el-form-item>
                                                <el-form-item label="性别">
                                                    {{current_user.sex}}
                                                </el-form-item>
                                                <el-form-item label="生日">
                                                    {{current_user.birth}}
                                                </el-form-item>
                                            </el-form>

                                        </div>

                                    </el-card>
                                </div>
                                <el-button slot="reference" id="userinfo_bn" type="primary" @click="dialogFormVisible = true"></el-button>
                                </el-button>
                            </el-popover>
                            <el-dialog title="修改个人信息" :visible.sync="dialogFormVisible" width="40%" :before-close="handleMMenuClose">
                                <!--<div id="form">-->
                                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                                    <el-form-item label="头像" prop="profile">
                                        <el-upload class="avatar-uploader" action="https://jsonplaceholder.typicode.com/posts/"
                                            :show-file-list="false" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload">
                                            <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                        </el-upload>

                                    </el-form-item>
                                    <el-form-item label="用户昵称" prop="name">
                                        <el-input v-model="ruleForm.name"></el-input>
                                    </el-form-item>
                                    <el-form-item label="性别" prop="sex">
                                        <el-select v-model="ruleForm.sex" placeholder="请选择性别">
                                            <el-option label="男" value="male"></el-option>
                                            <el-option label="女" value="female"></el-option>
                                            <el-option label="其他" value="others"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="出生日期" required>
                                        <el-col :span="11">
                                            <el-form-item prop="date1">
                                                <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date1"
                                                    style="width: 100%;"></el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                    </el-form-item>

                                    <el-form-item label="音乐类型" prop="type">
                                        <el-checkbox-group v-model="ruleForm.type">
                                            <el-checkbox label="流行" name="type"></el-checkbox>
                                            <el-checkbox label="轻音乐" name="type"></el-checkbox>
                                            <el-checkbox label="摇滚" name="type"></el-checkbox>
                                            <el-checkbox label="民谣" name="type"></el-checkbox>
                                            <el-checkbox label="R&B" name="type"></el-checkbox>
                                            <el-checkbox label="嘻哈" name="type"></el-checkbox>
                                            <el-checkbox label="电子" name="type"></el-checkbox>
                                            <el-checkbox label="古典" name="type"></el-checkbox>
                                        </el-checkbox-group>
                                    </el-form-item>

                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm('ruleForm')">提交修改</el-button>
                                        <el-button @click="resetForm('ruleForm')">重置</el-button>
                                    </el-form-item>
                                </el-form>

                                <!--</div>-->

                            </el-dialog>
                        </div>
                    </el-menu-item>


                </el-menu>
            </el-header>
            <el-main>
                <div class="mask_bg">

                </div>
                <div class="mask">

                </div>
                <el-popover placement="right" width="300" trigger="hover">
                    <el-menu background-color="#545c64" text-color="#fff" active-text-color="#ffd04b" id="song_list_menu"
                        @select="handleSelect">
                        <child v-for="list in songlist" :item-data="list"></child>
                    </el-menu>
                    <el-button id="song_list_button" slot="reference">歌单</el-button>
                </el-popover>
            </el-main>
            <el-footer>
                <audio id="main_audio" controls autoplay>
                    <source src="" type="audio/mpeg">
                </audio>
                <el-button @click="like">喜欢</el-button>

                <el-popover placement="top" width="400" trigger="click">
                    <div>
                        <el-card :body-style="{ padding: '0px' }" width="100%" class="card">
                            <el-table ref="singleTable" :data="recom_songs" highlight-current-row @current-change="handleCurrentChange"
                                style="width: 100%">
                                <el-table-column prop="name" label="歌名" width="180">
                                </el-table-column>
                                <el-table-column prop="singer" label="歌手名" width="180">
                                </el-table-column>
                                <el-table-column prop="label" label="类型">
                                </el-table-column>
                                <el-button id="recom_song_bn" @click="setCurrent()">
                                    点击播放
                                </el-button>
                            </el-table>
                        </el-card>
                    </div>
                    <el-button slot="reference" id="recom_songlist_bn" @click="recom_songlist_bn_click()"></el-button>
                    </el-button>
                </el-popover>
            </el-footer>

        </el-container>
    </div>

    <script>
        Vue.component('child', {
            props: ['itemData'],
            template: '#songlist_template'
        })
        let globalVue = new Vue({
            el: '#app',
            data() {
                return {
                    songlist: {},
                    current_user: {},
                    current_song,
                    rq,
                    // recom_songs:recom_song_arr,
                    recom_songs: [{
                        name: '燃烧我的ATP',
                        singer: 'double7',
                        label: '流行'
                    }],
                    imageUrl: '',
                    name: '',
                    sex: '',
                    picUrl: '',
                    dialogTableVisible: false,
                    dialogFormVisible: false,
                    ruleForm: {
                        name: '',
                        sex: '',
                        date1: '',
                        delivery: false,
                        type: [],
                    },
                    rules: {
                        profile: [{
                            required: true,
                            message: '请上传头像',
                            trigger: 'blur'
                        }],
                        name: [{
                                required: true,
                                message: '请输入昵称',
                                trigger: 'blur'
                            },
                            {
                                min: 1,
                                max: 10,
                                message: '长度在 1 到 10 个字符',
                                trigger: 'blur'
                            }
                        ],
                        region: [{
                            required: true,
                            message: '请选择活动区域',
                            trigger: 'change'
                        }],
                        date1: [{
                            type: 'date',
                            required: true,
                            message: '请选择日期',
                            trigger: 'change'
                        }],
                        type: [{
                            type: 'array',
                            required: true,
                            message: '请至少选择一个音乐类别',
                            trigger: 'change'
                        }],
                        sex: [{
                            required: true,
                            message: '请选择性别',
                            trigger: 'blur'
                        }],

                    }
                }

            },
            created: function () {

            },

            mounted: function () {

                var main_audio = document.getElementById("main_audio");
                main_audio.loop = false
                rq['rq_name'] = "rq_nextsong"
                main_audio.addEventListener('ended', function () {
                    console.log("get next song")
                    ajax({
                        url: "/fm",
                        data: rq,
                        type: "POST",
                        headtype: "fm_rq",
                        timeout: 3000,
                        success: function (xmlhttp) {
                            current_song = JSON.parse(xmlhttp.responseText)
                            console.log("frond end success")
                            console.log(current_song)
                            $("audio").attr("src", current_song.songurl);
                        },
                        error: function (xmlhttp) {
                            alert(xmlhttp.responseText);
                        }
                    });

                    //console.log("current song:")
                    //console.log(current_song)


                }, false);
                //main_audio.play();
            },
            methods: {
                handleSelect(key, keyPath) {
                    console.log(key, keyPath);
                    var song_list_index = parseInt(key.substr(0, 1))
                    var song_index = parseInt(key.substr(2))
                    var songurl = this.songlist[song_list_index - 1].songs[song_index - 1].songurl
                    var picurl = this.songlist[song_list_index - 1].songs[song_index - 1].picurl
                    $("audio").attr("src", songurl);
                    $(".el-main > .mask_bg").css("background", "url(" + picurl + ") no-repeat 0 0");
                    $(".el-main > .mask_bg").css("background-size", "cover");
                    $(".el-main > .mask_bg").css("filter", "blur(50px)");
                    $(".el-main > .mask_bg").css("z-index", "2");

                },
                handleMMenuClose(done) {
                    this.$confirm('确认关闭？')
                        .then(_ => {

                            this.$refs['ruleForm'].resetFields();

                            done();

                        })
                        .catch(_ => {});

                },
                handleNavMenu(key, keyPath) {

                },
                like() {
                    var that = this
                    console.log("like")
                    // var current_song_name = current_song.name
                    // console.log(current_song_name)

                    // rq['rq_name'] = "rq_likesong" + "&" + current_song_name

                    // console.log(rq)
                    // rq['rq_name'] = "rq_likesong";
                    // rq['like_song_name'] = current_song_name
                    debugger;
                    this.recom_songs = [{
                        name: '燃烧我的UDP',
                        singer: 'double7',
                        label: '古典'
                    }];
                    setTimeout(()=>{
                        recom_song_list = JSON.parse(xmlhttp.responseText)
                            console.log(recom_song_list)

                            recom_song_arr = []
                            for (i in recom_song_list) {
                                recom_song_arr[i] = recom_song_list[i]
                                //recom_song_arr.push(recom_song_list[i])
                            }
                            console.log(recom_song_arr)
                            that.recom_songs = recom_song_arr
                    },1000)
                    // ajax({
                    //     url: "/fm",
                    //     data: rq,
                    //     type: "POST",
                    //     headtype: "fm_rq",
                    //     timeout: 3000,
                    //     success: function (xmlhttp) {
                    //         recom_song_list = JSON.parse(xmlhttp.responseText)
                    //         console.log(recom_song_list)

                    //         recom_song_arr = []
                    //         for (i in recom_song_list) {
                    //             recom_song_arr[i] = recom_song_list[i]
                    //             //recom_song_arr.push(recom_song_list[i])
                    //         }
                    //         console.log(recom_song_arr)
                    //         that.recom_songs = recom_song_arr
                    //     },
                    //     error: function (xmlhttp) {
                    //         alert(xmlhttp.responseText);
                    //     }
                    // });


                },
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            alert('submit!');
                            console.log(formName)
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },
                handleAvatarSuccess(res, file) {
                    this.imageUrl = URL.createObjectURL(file.raw);
                },
                beforeAvatarUpload(file) {
                    const isJPG = file.type === 'image/png';
                    const isLt2M = file.size / 1024 / 1024 < 2;

                    if (!isJPG) {
                        this.$message.error('上传头像图片只能是 PNG 格式!');
                    }
                    if (!isLt2M) {
                        this.$message.error('上传头像图片大小不能超过 2MB!');
                    }
                    return isJPG && isLt2M;
                },
                handleCurrentChange(val) {
                    this.currentRow = val;
                },
                setCurrent(row) {
                    this.$refs.singleTable.setCurrentRow(row);
                    console.log(row)
                },
                recom_songlist_bn_click() {
                    console.log(recom_song_arr)
                }
            }

        })
    </script>

</body>
<style>
    @import url("https://unpkg.com/element-ui@2.4.11/lib/theme-chalk/index.css");

    .el-header,
    .el-footer {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 60px;
    }

    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        line-height: 300px;
        height: 100%;
    }

    #song_list_menu {
        height: 100%;
    }


    .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
        line-height: 160px;
        height: 100%;

    }

    .el-main>mask_bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("ref/bg.png") no-repeat 0 0;
        background-size: cover;
    }

    .el-main>mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.35)
    }



    body>.el-container {
        margin-bottom: 40px;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }

    .imgContainer {
        overflow: hidden;
        position: relative;
        width: 200px;
        height: 200px;
        /* width: 100%;
            height: 100%; */

    }

    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }

    .card {
        position: relative;
        width: 200px;
    }

    .button {
        padding: 0;
        float: right;
    }

    .image {
        position: absolute;
        /*  top: 50%;
        left: 50%; */
        transform: translate(-50%, -50%);
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    .form {
        position: relative;
        width: auto;
        padding-left: 15%;
        padding-top: 6%;
    }

    #userinfo_bn {
        border: 0;
        width: 50px;
        height: 50px;
        background: url(http://img.hb.aicdn.com/1e4611a6d81235f8e3d4a08e2a971598eed7123eae89-g2dIl2_fw658);
        background-size: 100%;
        border: 2px solid white;
        border-radius: 50%;
    }
</style>

</html>